@import "tailwindcss";

@theme {
  --font-primary: "Outfit", sans-serif;

  --color-primary: #9DAF89;
  --color-black: #131E12;
  --color-button: #FFB843;

  --breakpoint-xl: 80rem; /*1280 x 768*/
  --breakpoint-2x: 64rem; /*1336 x 768*/
  --breakpoint-3x: 120rem; /*1920 x 1080*/
  --breakpoint-4x: 160rem; /*2560 x 1440*/
  --breakpoint-5x: 240rem; /*3840 x 2160*/
}