@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --font-primary: "Outfit", sans-serif;

  --color-primary: #9DAF89;
  --color-black: #131E12;
  --color-button: #FFB843;
  --color-yellow: #FEC109;

  --breakpoint-xs1: 37.25rem; /*596 x 900*/
  --breakpoint-sm1: 41.125rem; /*658 x 900*/
  --breakpoint-md1: 50rem; /*800 x 600*/
  --breakpoint-xl: 80rem; /*1280 x 768*/
  --breakpoint-2xl: 64rem; /*1336 x 768*/
  --breakpoint-3xl: 120rem; /*1920 x 1080*/
  --breakpoint-4xl: 160rem; /*2560 x 1440*/
  --breakpoint-5xl: 240rem; /*3840 x 2160*/
}

@layer components {
  .swiper-pagination-bullet {
    @apply bg-yellow-300 opacity-50;
  }

  .swiper-pagination-bullet-active {
    @apply bg-yellow-300 opacity-100;
  }

  .swiper-button-next {
    @apply opacity-100 w-10;
  }

  .swiper-button-prev {
    @apply opacity-100 w-10;
  }
}